// Primary Button
.filter-btn {
    height: $btn-height;
    width: $btn-width;
    font-size: $font-size-small;
    background-color: $primary;
    color: $white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    .icon-filter{
        padding-right: 12px;
    }
}